div {
  margin: 8rem 35rem;
  display: flex;
  flex-direction: column;
  .form-container {
    display: flex;
    flex-direction: column;
    padding: 3em;
  }

  a {
    font-size: 18px;
    text-decoration: none;
    padding: 0 3em;
  }
}
