

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">
        <h1>Login</h1>
        <mat-form-field >
            <mat-label id="label-id">Email</mat-label>
            <input
                id="email"
                type="text"
                matInput
                placeholder="Nombre de usuario"
                formControlName="email"
            >
        </mat-form-field>

        <mat-form-field>
            <mat-label id="label-id">Contraseña</mat-label>
            <input
                id="password"
                type="password"
                matInput
                placeholder="Contraseña"
                formControlName="password"
            >
        </mat-form-field>

        <button mat-button mat-flat-button color="primary" type="submit" data-testid="loginBtn" id="loginBtn">
            <mat-icon>save</mat-icon>
            Ingresar
        </button>

        <div>
            <a routerLink="/auth/signup">Registrate</a>
        </div>
    </form>

