<div>

  <div class="container-search">
    <shared-search
    placeholder="buscar productos..."
    (onDebounce)="searchTerm($event)"
    />
  </div>

  <div class="container-content">
    <section class="container-products">
        <app-card-principal
        *ngFor="let item of filterProduct"
            [cardImage]="item.images[0]"
            [cardTitle]="item.title"
            [cardSubtitle]="item.category.name"
            [cardDescription]="item.description"
            [price]="item.price"
            (buttonClicked)="goToDetails(item.id)"
        />
      </section>

    <div class="container-category-menu">
      <app-categories-filter/>
    </div>
  </div>
</div>
