<h1 mat-dialog-title>Edit User</h1>
    <div mat-dialog-content class="edit-modal-container">
      <mat-form-field>
        <label>Name</label>
        <input matInput [(ngModel)]="data.name">
      </mat-form-field>
      <mat-form-field>
        <label>Email</label>
        <input matInput [(ngModel)]="data.email">
      </mat-form-field>
      <mat-form-field>
        <label>Password</label>
        <input matInput [(ngModel)]="data.password">
      </mat-form-field>
      <mat-form-field>
        <label>Role</label>
        <input matInput [(ngModel)]="data.role">
      </mat-form-field>
      <mat-form-field>
        <label>avatar</label>
        <input matInput [(ngModel)]="data.avatar">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onClose()">Cancel</button>
      <button mat-button [mat-dialog-close]="data" >Save</button>
</div>
