<h1 mat-dialog-title>Edit User</h1>
<div mat-dialog-content class="edit-modal-container">
  <mat-dialog-content >

    <mat-form-field >
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <label>Email</label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <input matInput formControlName="role">
    </mat-form-field>
    <mat-form-field>
      <mat-label>avatar</mat-label>
      <input matInput formControlName="avatar">
    </mat-form-field>

  </mat-dialog-content>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data">Save</button>
</div>
