<shared-header/>
<section class="about-container">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
            <mat-card>
                <h2>Meli</h2>
                <p>
                    👥 Me interesa trabajar con y para personas inspiradoras conociendo siempre nuevas tecnologías.
                    🚀Desde que tengo memoria busco aprender todo lo posible, no sólo sobre IT, sino también sobre mí misma. Mi curiosidad no conoce límites y cualquier entorno en donde encuentre desafíos y posibilidades de crecer  profesional y personalmente, es un entorno en el que quiero estar!
                </p>
                <a href="https://www.linkedin.com/in/melissa-casola/" target="_blank">
                    <mat-icon>link</mat-icon>
                </a>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/aboutus/meli-img.jpg" alt="meli profile">
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/aboutus/brisna-img.jpg" alt="brisna profile">
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card color="primary">
                <h2>Brisna</h2>
                <p>
                    Soy una amante del trabajo en equipo 💪🏽, ya que creo que la colaboración aporta ideas frescas y fomenta el crecimiento conjunto. Mi motivación radica en hacer un impacto real y ser útil en todo lo que emprendo. Cada tarea es una oportunidad para demostrar mi dedicación y un toque de creatividad. Estoy ansiosa por enfrentar nuevos desafíos, aprender de ellos y seguir construyendo mi carrera profesional. 🌟
                </p>
                
                <a href="https://www.linkedin.com/in/brisna-a-paez-m-283934154/" target="_blank">
                    <mat-icon>link</mat-icon>
                </a>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <h2>Lidia</h2>
                <p>
                    Soy Frontend developer, durante mis estudios y trabajos he adquirido
                    habilidades de planificación, resolución de conflictos y trabajo en
                    equipo con metodología Agile.
                    Apasionada del arte y de crear algo desde 0.
                    Hice un voluntariado de tres meses por Ecuador donde me di cuenta
                    del valor de los pequeños detalles y eso hizo que diera un cambio
                    radical a mi vida. 🤙
                </p>
                <a href="https://www.linkedin.com/in/lidialg/" target="_blank">
                    <mat-icon>link</mat-icon>
                </a>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/aboutus/lidia-img.jpg" alt="brisna profile">
        </mat-grid-tile>
    </mat-grid-list>
</section>