<mat-toolbar color="primary">

    <span>Created with love by Meli, Lidi and Bris 💕</span>
    <span class="fill-remaining-space"></span>

    <a mat-button color="primary"
    matTooltip="GitHub Meli 😁" href="https://github.com/melitacasola" target="_blank"
    >
        <img src="./assets/github.png" alt="icon github" />
    </a>

    <a mat-button color="primary"
    matTooltip="GitHub Lidi 😎" href="https://github.com/LidiaLG" target="_blank"
    >
        <img src="./assets/github.png" alt="icon github" />
    </a>

    <a mat-button color="primary"
    matTooltip="GitHub Bris 😊" href="https://github.com/Brisnayu" target="_blank"
    >
        <img src="./assets/github.png" alt="icon github" />
    </a>

</mat-toolbar>