<mat-card [class]="classCard" appearance="outlined" appHoverElement>
    <img mat-card-image [src]= "cardImage | defaultImage" [alt]="cardTitle" />
    <mat-card-content class="second-part">
        <mat-card-title>{{ cardTitle }}</mat-card-title>
        <mat-card-subtitle>{{ cardSubtitle }}</mat-card-subtitle>
        <p>{{ cardDescription | wordLimit:30 }}</p>
        <mat-card-content *ngIf="price !== undefined">
            <p color="primary" class="price">€ {{ price }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-flat-button color="primary" mat-button (click)="onButtonClick()">{{ textButton }}</button>
        </mat-card-actions>
    </mat-card-content>

</mat-card>
