<shared-header />

<shared-generic-table
  [columnHeaders]="columnHeaders"
  [dataSource]="dataSource.data"
  [imageColumns]="imageColumns"
  (edit)="editUser($event)"
  (delete)="deleteUser($event)"
/>

<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let infoUser"> {{infoUser.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let infoUser"> {{infoUser.name}} </td>
      </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let infoUser"> {{infoUser.email}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let infoUser"> {{infoUser.role}} </td>
    </ng-container>

    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef> Avatar </th>
      <th mat-cell *matCellDef="let infoUser" class="img-container">
        <img   [src]="infoUser?.avatar | defaultImage" alt="icon user">

      </th>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let infoUser">
          <button mat-button color="primary" (click)="editUser(infoUser.id, infoUser)">Edit</button>
          <button mat-button color="warn" (click)="deleteUser(infoUser.id)">Delete</button>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnHeaders"></tr>
    <tr mat-row *matRowDef="let row; columns: columnHeaders;"></tr>
  </table> -->

